@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: #000;
  color: #fff;
  background-image: url("../images/stripes.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 60%;
}
h1 {
  font-weight: 900;
}
.headerimg {
  max-width: 300px;
}
.nav-link {
  color: #fff;
}
.nav-link:focus,.nav-link:hover {
  color: #752f78;
}
.nav-link:active {
  color: #9bef6e;
}
.navbar-home {
  margin-top: 40px;
}
.btn-success {
  background: #9bef6e;
  color: #000;
}
.btn-success:hover {
  background: #752f78;
}

.imagecontainer {
  position: relative;
}

.image_home {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.hometopimage {
  height: 400px;
}
.hometopimage img {
  object-fit: cover;
  height: 400px;
}
.carouselimg {
  margin-bottom: 20px;
}
.carouselimg img {
  object-fit: cover;
  height: 210px;
}

.imagecontainer:hover .image_home {
  opacity: 0.3;
}

.imagecontainer:hover .middle {
  opacity: 1;
}

.text {
  font-size: 16px;
  padding: 16px 32px;
}

.carousel-item .col-2 .card {
  background-color: transparent;
}

.homerow {
  margin-bottom: 30px;
}
.homerowextra,.navbar {
  margin-bottom: 80px !important;
}
.bottomspacer {
  margin-bottom: 100px;
}

.maincontent {
  font-size: 30px;
  text-align: center;
  padding-left:10%;
  padding-right:10%;
}

.footer {
  font-size: 12px;
}
.footer img {
  margin-bottom: 20px;
  max-width: 200px;
}

.navbar-toggler {
  background: #9bef6e;
}

.carousel-control-next, .carousel-control-prev {
  width: auto;
}

.card {
  background: transparent;
}
.card.blog img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  column-gap: 50px;
}

@media (max-width: 767px) {
    .maincontent {
      font-size: 22px;
    }
		.carousel-inner .carousel-item > div {
			display: none;
		}
		.carousel-inner .carousel-item > div:first-child {
			display: block;
		}
	}

	/* medium and up screens */
	@media (min-width: 768px) {

		.carousel-inner .carousel-item-end.active,
		.carousel-inner .carousel-item-next {
			transform: translateX(25%);
		}

		.carousel-inner .carousel-item-start.active,
		.carousel-inner .carousel-item-prev {
			transform: translateX(-25%);
		}
	}

	.carousel-inner .carousel-item-end,
	.carousel-inner .carousel-item-start {
		transform: translateX(0);
	}
