
      {% include header.html %}

      <div class="container">

        <div class="row homerow">
          <div class="col">
            <h1 class="editable">media for the metaverse.</h1>
            <p class="editable">Heist is  a new publisher of original journalism, art, and fiction that uses blockchain technology to offer lifetime subscriptions and create cool collectible assets.</p>
          </div>
        </div>

        <div class="row homerow">
          <div class="col-md-3">
            <div class="imagecontainer hometopimage">
              <img src="{{ page.images[0].image_path }}" class="img-fluid image_home" alt="{{ page.images[0].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[0].title }}</h3>
                  <p>{{ page.images[0].text }}</p>
                  <button type="button" class="btn btn-success" onclick="location.href='{{ page.images[0].link }}';">{{ page.images[0].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="imagecontainer hometopimage">
              <img src="{{ page.images[1].image_path }}" class="img-fluid image_home" alt="{{ page.images[1].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[1].title }}</h3>
                  <p>{{ page.images[1].text }}</p>
                  <button type="button" class="btn btn-success" onclick="location.href='{{ page.images[1].link }}';">{{ page.images[1].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="imagecontainer hometopimage">
              <img src="{{ page.images[2].image_path }}" class="img-fluid image_home" alt="{{ page.images[2].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[2].title }}</h3>
                  <p>{{ page.images[2].text }}</p>
                  <button type="button" class="btn btn-success" onclick="location.href='{{ page.images[2].link }}';">{{ page.images[2].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row homerowextra">
          <div class="col-md-3">
            <div class="imagecontainer hometopimage">
              <img src="{{ page.images[3].image_path }}" class="img-fluid image_home" alt="{{ page.images[3].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[3].title }}</h3>
                  <p>{{ page.images[3].text }}</p>
                  <button type="button" class="btn btn-success" onclick="location.href='{{ page.images[3].link }}';">{{ page.images[3].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="imagecontainer hometopimage">
              <img src="{{ page.images[4].image_path }}" class="img-fluid image_home" alt="{{ page.images[4].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[4].title }}</h3>
                  <p>{{ page.images[4].text }}</p>
                  <button type="button" class="btn btn-success" onclick="location.href='{{ page.images[4.link }}';">{{ page.images[4].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="imagecontainer hometopimage">
              <img src="{{ page.images[5].image_path }}" class="img-fluid image_home" alt="{{ page.images[5].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[5].title }}</h3>
                  <p>{{ page.images[5].text }}</p>
                  <button type="button" class="btn btn-success" onclick="location.href='{{ page.images[5].link }}';">{{ page.images[5].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="imagecontainer hometopimage">
              <img src="{{ page.images[6].image_path }}" class="img-fluid image_home" alt="{{ page.images[6].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[6].title }}</h3>
                  <p>{{ page.images[6].text }}</p>
                  <button type="button" class="btn btn-success" onclick="location.href='{{ page.images[6].link }}';">{{ page.images[6].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row maincontent homerowextra">
          <div class="col">
            <p class="editable">
              HEIST Media is the first curated web3 magazine with all original stories, journalism and art minted as an NFT, built from the ground up to change media as we know it.&nbsp; Launching with a limited mint of unique, hand-drawn Ethereum-based NFTs, members will take the power out of the C-Suites and away from the venture capitalists to empower new voices and jailbreak journalism from the click-obsessed confines of corporate media.
            </p>
          </div>
        </div>

        <div class="row homerowextra">
          <div class="col">
            <div class="owl-carousel owl-theme">
              {% for item in page.carousel %}
                {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                {% if thecycle == 'odd' %}
                  <div class="item">
                {% endif %}
                <div class="imagecontainer carouselimg">
                  <img src="{{ item.image_path }}" class="img-fluid image_home" alt="{{ item.title }}" />
                  <div class="middle">
                    <div class="text">
                      <h4>{{ item.title }}</h4>
                      <button type="button" class="btn btn-success" onclick="location.href='{{ item.link }}';">{{ item.button_text }}</button>
                    </div>
                  </div>
                </div>
                {% if thecycle == 'even' %}
                 </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>


    {% include footermain.html %}


      </div>

    </main>

    {% include footer.html %}
  </body>
</html>
