
      {% include header.html %}

      <div class="container">

        <div class="row homerow">
          <div class="col">
            <h1 class="editable">media for the metaverse.</h1>
            <p class="editable">Heist is  a new publisher of original journalism, art, and fiction that uses blockchain technology to offer lifetime subscriptions and create cool collectible assets.</p>
          </div>
        </div>

        <div class="row homerow">
          <div class="col-md-3">
            <div class="imagecontainer">
              <img src="{{ page.images[0].image_path | resize: "200x400" }}" class="img-fluid image_home" alt="{{ page.images.[0].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[0].title }}</h3>
                  <p>{{ page.images[0].text }}</p>
                  <button type="button" class="btn btn-success">{{ page.images[0].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="imagecontainer">
              <img src="{{ page.images[1].image_path }}" class="img-fluid image_home" alt="{{ page.images.[1].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[1].title }}</h3>
                  <p>{{ page.images[1].text }}</p>
                  <button type="button" class="btn btn-success">{{ page.images[1].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="imagecontainer">
              <img src="{{ page.images[2].image_path }}" class="img-fluid image_home" alt="{{ page.images.[2].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[2].title }}</h3>
                  <p>{{ page.images[2].text }}</p>
                  <button type="button" class="btn btn-success">{{ page.images[2].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row homerowextra">
          <div class="col-md-3">
            <div class="imagecontainer">
              <img src="{{ page.images[3].image_path }}" class="img-fluid image_home" alt="{{ page.images.[3].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[3].title }}</h3>
                  <p>{{ page.images[3].text }}</p>
                  <button type="button" class="btn btn-success">{{ page.images[3].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="imagecontainer">
              <img src="{{ page.images[4].image_path }}" class="img-fluid image_home" alt="{{ page.images.[4].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[4].title }}</h3>
                  <p>{{ page.images[4].text }}</p>
                  <button type="button" class="btn btn-success">{{ page.images[4].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="imagecontainer">
              <img src="{{ page.images[5].image_path }}" class="img-fluid image_home" alt="{{ page.images.[5].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[5].title }}</h3>
                  <p>{{ page.images[5].text }}</p>
                  <button type="button" class="btn btn-success">{{ page.images[5].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="imagecontainer">
              <img src="{{ page.images[6].image_path }}" class="img-fluid image_home" alt="{{ page.images.[6].title }}" />
              <div class="middle">
                <div class="text">
                  <h3>{{ page.images[6].title }}</h3>
                  <p>{{ page.images[6].text }}</p>
                  <button type="button" class="btn btn-success">{{ page.images[6].button_text }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row maincontent homerowextra">
          <div class="col">
            <p class="editable">
              EIST Media is the first curated web3 magazine with all original stories, journalism and art minted as an NFT, built from the ground up to change media as we know it.&nbsp; Launching with a limited mint of unique, hand-drawn Ethereum-based NFTs, members will take the power out of the C-Suites and away from the venture capitalists to empower new voices and jailbreak journalism from the click-obsessed confines of corporate media.
            </p>
          </div>
        </div>

        <div class="row mx-auto my-auto justify-content-center homerowextra">
			<div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner" role="listbox">
          {% for item in page.carousel %}
					<div class="carousel-item active">
						<div class="col-2">
							<div class="card">
								<div class="card-img">
                  <div class="imagecontainer">
                    <img src="{{ item.image_path }}" class="img-fluid image_home" alt="{{ item.title }}" />
                    <div class="middle">
                      <div class="text">
                        <h4>{{ item.title }}</h4>
                        <button type="button" class="btn btn-success">{{ item.button_text }}</button>
                      </div>
                    </div>
                  </div>
								</div>
							</div>
						</div>
					</div>
          {% endfor %}
				</div>
				<a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</a>
				<a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</a>
			</div>
		</div>


    {% include footermain.html %}


      </div>

    </main>

    {% include footer.html %}
  </body>
</html>
