
      {% include header.html %}

      <div class="container">

        <div class="row">
          <div class="col">
            <h1 class="editable">media for the metaverse.</h1>
            <p class="editable">Heist is  a new publisher of original journalism, art, and fiction that uses blockchain technology to offer lifetime subscriptions and create cool collectible assets.</p>
          </div>
        </div>


    {% include footermain.html %}


      </div>

    </main>

    {% include footer.html %}
  </body>
</html>
